{% extends 'layout.html' %}
{% block title %}Page Not Found{% endblock %}
{% block meta_desc %}{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_desc %}Sorry, page not found! {% endblock %}

{% block add_sidebar %}
<div class="col s12  sidebar-item info">
    <div class="row">                               
        <div class="col s12 l12"> 
            <h3>Sorry, Page Not Found!</h3>
        </div>                                
    </div>         
</div>        
{% endblock %}

{% block content %}

{% endblock %}

