{% extends 'layout.html' %}
{% block title %}Yongkie Wiyogo{% endblock %}
{% block meta_desc %}My personal site{% endblock %}
{% block page_title %}Yongkie Wiyogo{% endblock %}
{% block page_subtitle %} Welcome to my personal site {% endblock %}
{% block page_img %}/static/img/herbst1.jpg {% endblock %}

{% block add_sidebar %}
<div class="col s12  sidebar-item info">
    <div class="row">                               
        <div class="col s3"> 
            <h3>Topics</h3>
        </div>                                
        <div class="col s9 wow fadeIn icon a1" data-wow-delay="0.1s" > <!-- text -->
        {% for tag in all_tags %}
            <div class="chip">{{tag}}</div>                  
        {% endfor %}  
        </div>
    </div>         
</div>
{% endblock %}

{% block content %}
<!-- == Blog ==-->
<section class="col s12 m12 l8 section" > <!-- Blog section start --> 
    <div class="row">
        <div class="blog">
            {% for post in posts %}
            <div class="col s12 m12 l12 blog-post">
                <div class="thumbnail z-depth-1 animated">
                    <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"><img src="assets/images/blog1.jpg" alt="" class="responsive-img"></a>                                       
                    <div class="blog-details">
                        <div class="post-title" style="background-color: {{post.bgcolor}};">
                            <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
                                <h2>{{ post.title }}</h2>
                                <span>on {{post.date.strftime('%d-%m-%Y')}}</span>
                            </a>
                        </div> 
                        <div class="post-details">                                            
                            <p>{{ post.description }}
                            </p> 
                            <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"> Read more...</a>                          
                        </div> 
                        
                    </div>              
                </div>
            </div>
            {% endfor %}            
        </div>
        {% endblock %}