{% extends 'layout.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block meta_desc %}{{post.description}}{% endblock %}
{% block page_title %}{{post.title}} {% endblock %}
{% block page_subtitle %}{{post.date.strftime('%d-%m-%Y')}} {% endblock %}
{% block page_img %}{{post.img}} {% endblock %}
{% block page_desc %}{{post.description}} {% endblock %}

{% block add_sidebar %}
<div class="col s12  sidebar-item info">
    <div class="row">                               
        <div class="col s3"> 
            <h3>Topics</h3>
        </div>                                
        <div class="col s9 wow fadeIn icon a1" data-wow-delay="0.1s" > <!-- text -->
            {% for tag in post.tags %}
            <div class="chip">{{tag}}</div>                  
            {% endfor %}  
        </div>
    </div>         
</div>        
{% endblock %}

{% block content %}
<section class="col s12 m12 l8 section" > 
    <div class="row">
        <div class="blog"> <!-- full Blog start -->
            <div class="col s12 m12 l12 blog-post">
                <div class="thumbnail z-depth-1 animated">                                        
                    <div class="blog-details">
                        <div class="post-title" style="background-color: {{post.bgcolor}};">
                            <a href="">
                                <h2>{{post.title}}</h2>
                                <span>on {{post.date.strftime('%d.%m.%Y')}}</span>
                            </a>
                        </div> 
                        <div class="post-details">
                            <p class="flow-text">{{ post.html|safe }}
                            </p>
                        </div> 
                    </div>              
                </div>
            </div>
        </div> <!-- end  post -->

        <div class="col s12 m12 l12 z-depth-1 comment-form" > <!-- Write comment from here -->
            <div class="row"> 
                <div class="input-field col s12 m12 l12 wow fadeIn a2" data-wow-delay="0.1s">
                    <input id="name" name="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12 wow fadeIn a4" data-wow-delay="0.3s">
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Write Here</label>
                    <button class="btn waves-effect waves-light wow fadeIn" type="submit" name="action" data-wow-delay="0.5s">Comment</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
