{% extends 'layout.html' %}

{% block title %}Yongkie Wiyogo{% endblock %}
{% block meta_desc %}Resume{% endblock %}
{% block page_title %}Yongkie Wiyogo{% endblock %}
{% block page_subtitle %}Resume {% endblock %}
{% block page_desc %} Yongkie's CV {% endblock %}

{% block add_sidebar %}
<div class="col s12  sidebar-item info">
    <div class="row">                               
        <div class="col s3 icon"> <!-- icon -->
            <i class="fa fa-user"></i>
        </div>                                
        <div class="col s9 wow fadeIn icon a1" data-wow-delay="0.1s" > <!-- text -->
            <h5>I am a software engineer and live in Germany since 2004. Originally, I come from Surabaya, Indonesia. 
            </h5>            
        </div>
    </div>         
</div>
<!-- ADDRESS  -->
<div class="col s12  sidebar-item info ">
    <div class="row">                                
        <div class="col s3 icon">
            <i class="fa fa-map-marker"></i> <!-- icon -->
        </div>                             
        <div class="col s9  icon wow fadeIn a4" data-wow-delay="0.4s">
            <h5>Karlsruhe, Germany<br></h5>                         
        </div>
    </div>            
</div>

<!--  Contact -->
<div class="col s12  sidebar-item info">
    <div class="row">
        <div class="col s3 icon">
            <a href="{{url_for('contact')}}"><i class="fa fa-envelope"></i></a> <!-- icon -->
        </div>                              
        <div class="col s3 icon">
            <a href="https://github.com/ywiyogo"><i class="fa fa-github"></i></a> <!-- icon -->
        </div> 
        <div class="col s3 icon">
            <i class="fa fa-linkedin"></i> <!-- icon -->
        </div>  
        <div class="col s3 icon">
            <i class="fa fa-xing"></i> <!-- icon -->
        </div>                                
    </div>          
</div>

<div class="col l12 m12 s12  skills sidebar-item" >
    <div class="row">
        <div class="col m12 l3 s12 icon">
            <i class="fa fa-gears"></i> <!-- icon -->
        </div>
        <!-- Skills -->
        <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
            <h3>Professional Skills </h3>

            <span>Python</span>
            <div class="progress">
                <div class="determinate"> 90%</div>
            </div>

            <span>C/C++</span>                                    
            <div class="progress">
                <div class="determinate"> 85% </div>
            </div>

            <span>Shell script</span>
            <div class="progress">
                <div class="determinate">80%</div>
            </div>
            <span>HTML5 & CSS3</span>
            <div class="progress">
                <div class="determinate">80%</div>
            </div>
            <span>MySQL & PostgreSQL</span>
            <div class="progress">
                <div class="determinate">60%</div>
            </div>
        </div>
    </div>
</div>
<div class="col l12 m12 s12  skills sidebar-item" >
    <div class="row">
        <div class="col m12 l3 s12 icon">
            <i class="fa fa-comments-o"></i> <!-- icon -->
        </div>
        <!-- Skills -->
        <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
            <h3>Languages </h3>

            <span>Bahasa Indonesia</span>
            <div class="progress">
                <div class="determinate"> 100%</div>
            </div>

            <span>German</span>                                    
            <div class="progress">
                <div class="determinate"> 90% </div>
            </div>

            <span>English</span>
            <div class="progress">
                <div class="determinate">90%</div>
            </div>
            <span>Chinese</span>
            <div class="progress">
                <div class="determinate">40%</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<!-- ======  Projects ====-->

<section class="col s12 m12 l8 section">
    <div class="row">
        <div class="section-wrapper z-depth-1">                            
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-wrench"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                <h2>Projects</h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                    <h3>Web Application Marketplace </h3>
                    <span>08/2015 - now </span><span>@<a href="https://www.fragmentor.com">fragmentor.com</a></span>
                    <p>Co-Founder 
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                    <h3>Infotainment Systems: MIB1, MIB2</h3>
                    <span>01/2012 - 03/2015 </span><span>@Harman/Becker Automotive Systems GmbH</span>
                    <p>Developed and delivered series software for automotive infotainment systems
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>Vipassana Karlsruhe Website</h3>
                    <span>03/2014 - 01/2015 </span><span>@<a href="http://www.vipassana-karlsruhe.info">vipassana-karlsruhe.info</a></span>
                    <p>Rebuilt and redesigned website using GetSimple CMS
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                    <h3>Elevation Mapping</h3>
                    <span>10/2009 - 09/2010 </span><span>@<a href="http://www.sim.informatik.tu-darmstadt.de/teamhector/">Team Hector TU Darmstadt </a></span>
                    <p>Developed elevation mapping feature in C++
                    </p>
                </div>
            </div>                            
        </div>
        <!-- ==========  Education ========-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                <h2>Education </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                    <h3>Full Stack Developer<span>@Udacity</span></h3>
                    <span>09/2015 - 11/2015 </span>
                    <p>Building a scalable web application, Relational Database, Linux system server</p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                    <h3>Introduction to Artificial Intelligence<span>@Udacity</span></h3>
                    <span>11/2011 - 12-2011</span>
                    <p>Probability theory, Machine Learning, Natural Language Processing</p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s" >
                    <h3>M.Sc. in Information Systems Engineering <span>@TU Darmstadt</span></h3>
                    <span>10/2009 - 10/2011 </span>
                    <p>Autonomous Systems</p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s" >
                    <h3>B.Sc. in Information Systems Engineering <span>@TU Darmstadt</span></h3>
                    <span>10/2005 - 09/2009 </span>
                    <p> Embedded Systems and Software Engineering</p>
                </div>
            </div>
        </div>

        <!-- Publication -->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-book"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                <h2>Publication </h2>

                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                    <h3>Laser-Based Hierarchical Grid Mapping for Detection and Tracking of Moving Objects  </h3>
                    
                    <span>2012 </span> <span>@Advanced Microsystems for Automotive Applications</span>
                    <p>Utilyzing hierarchical grid mapping, Kalman filter and Particle filter for detecting moving objects (track-before-detect approach).
                    </p>
                </div>
                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s" >
                    <h3>Processing of sensory stimuli with recurrent neural networks </h3>
                    <span>2009 </span><span>@Honda RI</span>
                    <p>Analyzed the stability behaviour of dynamic neural fields.
                    </p>

                </div>
            </div>
        </div>
        <!-- ============    Intertests =============-->

        <div class="section-wrapper z-depth-1">                           
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-plane"></i>
            </div>
            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s"> 
                <h2>Interestes </h2>
                <ul> <!-- interetsr icon start -->
                    <li><i class="fa fa-bicycle tooltipped" data-position="top" data-delay="50" data-tooltip="Sport"></i></li>
                    <li><i class="fa fa-spinner tooltipped" data-position="top" data-delay="50" data-tooltip="Meditation"></i></li>
                    <li><i class="fa fa-smile-o tooltipped" data-position="top" data-delay="50" data-tooltip="Social Psychology"></i></li>
                    <li><i class="fa fa-mixcloud tooltipped" data-position="top" data-delay="50" data-tooltip="Web"></i></li>
                    <li><i class="fa fa-paper-plane-o tooltipped" data-position="top" data-delay="50" data-tooltip="Traveling"></i></li>
                </ul> <!-- interetsr icon end -->
            </div>                          
        </div>


        {% endblock %}
